<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - News</title>

    @*Add css libraries*@
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/css/d3.css" asp-append-version="true" />
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />    
    <link href="~/lib/css/font-awesome.min.css" rel="stylesheet" />

    @*Add js libraries*@
    <script src="~/lib/js/jquery.min.js"></script>
    <script src="~/lib/js/jquery-ui.min.js"></script>
    <script src="~/lib/js/bootstrap.min.js"></script>
    <script src="~/lib/js/d3.v3.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    @*<span class="icon-bar"></span>*@                    
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">News</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    @*<li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>*@                    
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - News</p>
        </footer>
    </div>
    <script>
        // Landing page basic ajax requests are set here
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
